<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/drab.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/request/">Request Aid</a></li>
				      <li><a href="/offer/">Offer Aid</a></li>
				       <li><a href="/resources/">List of Resources</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<p>August 2019</p>
			</footer>
		</body>
	</html>

