<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/drab.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/changes">Changes</a></li>
				<li><a href="/goals/">Project Goals</a></li>
				<li><a href="/calendar/">Publications calendar</a></li>
				<li><a href="/stats/">Current website stats</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<p>August 2019</p>
			</footer>
		</body>
	</html>
